<h1><%= @question.title %></h1>

<p><%= @question.body %></p>

<p>
  Created By: <%= @question.user_full_name %>
</p>

<% if can? :manage, @question  %>
<%= link_to 'edit', edit_question_path(@question) %>

<%= link_to 'delete', question_path(@question),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
<% end %>

<%#= form_for @answer, url: question_answers_path(@question) do |f| %>
<h2> Create a New Answer</h2>
<%= @answer.errors.full_messages.join(', ') %>
<%= form_for [@question, @answer] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<h2>All Answers</h2>
<% @question.answers.each do |ans| %>
<%= ans.body %>
<% if can? :delete, ans  %>
<%= link_to 'delete', answer_path(ans),
                        method: :delete,
                        data: {confirm: 'Are you sure?'} %>
<hr>
<% end %>
<% end %>
