<h1>Contact Us - CALL ANY TIME!</h1>
<!-- form_tag is a helper method that will generate a form HTML elem with POST http request. the first arguemnt of the helper method must be the URL
you would like to submit the form to. -->
<%= form_tag contact_submit_path do %>
<div>
  <%= label_tag :full_name %>
  <%= text_field_tag :full_name %>
</div>
<div>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
</div>
<div>
  <%= label_tag :message %>
  <%= text_field_tag :message %>
</div>

<%= submit_tag "Contact Us!" %>
<% end %>
