<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeAnswers</title>
    <%= csrf_meta_tags %>
<%# this refers to the application.js manifest file so in development it will include all the
indiv css files. In Production it will only include the application.css compiled file %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <a href = '/'>Home</a> -->
     <%= link_to 'Home', root_path %>
    |
    <!-- <a href = '/contact'>Contact Us</a> -->
     <%= link_to 'Contact', contact_path({something: 'Hello world'}) %>
     |
     <%= link_to 'New Question', new_question_path %>
     |
     <%= link_to 'All Questions', questions_path %>
     <% if session[:user_id].present? %>
     Hello <%= current_user.first_name %>
    <%= link_to 'Sign Out', sessions_path, method: :delete %>
     <% else %>
     <%= link_to 'Sign Up', new_user_path %>
     <%= link_to 'Sign In', new_session_path %>
     <% end %>
    <hr>
    <%= flash[:notice] || flash[:alert] %>
    <%= yield %>
  </body>
</html>
